body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f3f3f3;
  text-align: center;
  width: 500px;
  line-height: 1.5;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 2rem;
}

p {
  margin: 1rem;
}

.container {
  background-color: black;
  color: white;
  padding: 15px 15px 12px 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.api-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem;
}

.api-key-input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.btn {
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #2196f3;
  color: white;
  cursor: pointer;
  margin-block: 0.5rem;
}

#save-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 35px;
}

#save-btn img {
  height: 20px;
  width: auto;
}

a {
  text-decoration: none;
  color: #2196f3;
}
